{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>건강하자에 오신 걸 환영합니다!</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"><!--  공통 css -->
    <link rel="stylesheet" href="{% static 'css/home/welcome.css' %}">
</head>
<body>
<div class="wrapper">
    <div class="container">
        <section class="section-welcome">
            <h1><a href="home/">건강하자</a></h1>
            <nav>
                <ul>
                    <li><a href="#">자연식품</a></li>
                    <li><a href="#">건강기능식품</a></li>
                    <li><a href="#">가공식품</a></li>
                </ul>
            </nav><!-- food nav -->
        </section>
        <section class="section-login">
            <form id="loginForm">
                <fieldset>
                    <legend>로그인 정보</legend>
                    <div>
                        <label><input type="text"></label>
                        <label><input type="password"></label>
                    </div>
                    <hr>
                    <div>
                        <button id="btnLogin">로그인</button>
                        <button id="btnJoin">회원가입</button>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>
</div>
</body>
</html>